# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
/exercice/
/petite_detection_project/
/DETECTIONOBJECT/
